body{
    background-color: rgb(43, 43, 144);
}

h1{
    color: gray;
}

.gridPanel {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: navy;
    padding: 10px;
}

.gridItem{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}