body {
  margin: 0;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

.splash-title {
  font-family: 'Bangers', cursive;
  font-size: 10rem;
}

.btn {
  font-size: inherit;
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.btn:hover,
.btn:focus {
  background-color: hsl(30, 100%, 40%);
}

.splash-btn {
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child {
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.grid-computer>.taken,
.grid-computer>.boom {
  background-color: hsl(200, 100%, 50%) !important;
  border-radius: 0 !important;
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 80%);
}

.taken.horizontal::before {
  border-left: none;
  border-right: none;
}

.taken.vertical::before {
  border-top: none;
  border-bottom: none;
}

.grid-display {
  display: flex;
}

.ship>div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
}

.battleship-grid div {
  border: 7px solid hsla(0, 0%, 100%, .2);
}

.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.miss::before {
  content: '';
  position: absolute;
  border: 1vmin solid white;
  width: 2vmin;
  height: 2vmin;
}

.player {
  margin: 2vmin;
}

.p1 {
  margin-right: 20vmin;
}

.p2 {
  margin-left: 20vmin;
}

.connected,
.ready {
  font-weight: normal;
  opacity: .25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}